/*    _________________  */
/*   /                /| */
/*  /       :)       / | */    
/* /________________/  | */
/* |                |  | */
/* |   SELECTOID    |  / */
/* |                | /  */
/* |________________|/   */

.selectoid {
    position: relative;
    left: -3000px;
    width: 1118px;
    max-width: 1118px;
}
.selectoid_select {
    display: none;
}
.selectoid_button {
    position: relative;
    left: 3000px;
    
    padding: 10px;
    border: solid 1px #F5F5F5;
    background-color: #F2F2F2;
    
    min-width: 150px;
    display: block;
}
.selectoid_holder {
    
    position:   absolute;
    left:       3000px;
    top:        45px;      /* skip button height*/
    
    z-index:    1000;
    width:      100%;
    
    outline: none;
    padding: 10px 0;
    
    transition: all 1s ease-in-out;
    
    border: 1px solid rgba(0,0,0,.2);
    background-color: white;
    
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);   
}
.selectoid_holder.hidden {
    display: none;
}

.selectoid_holder .itemHolder {
    float: left;
    overflow: hidden;
}
.selectoid_holder .itemHolder .item {
    display: block;
    width: 95%;
    height: 17px;
    padding: 3px;
    overflow: hidden;
    margin: 1px;
    border: solid 1px transparent;
}
.selectoid_holder .itemHolder .item.selected {
    background-color: #F5F5F5;
    font-weight: bold;
}
.selectoid_holder .itemHolder .item:hover {
    cursor: pointer;
    background-color: #F5F5F5;
    border: solid 1px #4A8CF7;
}

.left {
    float: left;
}
.right {
    float: right;
}

.arrow-down {
    width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;	
	border-top: 8px solid #777777;
    margin-top: 5px;
}

.selectoid_holder .itemHolder .item .secondary {
    display: block;
    float: right;
}

.float-right {
    float: right;
}
/* 1 column */
@media all and (max-width: 159px) {
    .selectoid_holder {
        width: 10%;
    }
    .selectoid_holder .itemHolder {
        width: 100%;
    }
}
@media all and (max-width: 319px) and (min-width: 160px) {
    .selectoid_holder {
        width: 14%;
    }
    .selectoid_holder .itemHolder {
        width: 100%;
    }
    .selectoid_holder .itemHolder .item .secondary {
        display: none;
    }
}
/* 1 column + secondary data */
@media all and (max-width: 479px) and (min-width: 320px) {
    .selectoid_holder {
        width: 28%;
    }
    .selectoid_holder .itemHolder {
        width: 100%;
    }
    .selectoid_holder .itemHolder .item .secondary {
        display: block;
    }
}
@media all and (max-width: 601px) and (min-width: 480px) {
    .selectoid_holder {
        width: 42%;
    }
    .selectoid_holder .itemHolder {
        width: 49%;
    }
    .selectoid_holder .itemHolder .item .secondary {
        display: none;
    }    
}
/* 2 columns */
@media all and (max-width: 701px) and (min-width: 602px) {
    .selectoid_holder {
        width: 53%;
    }
    .selectoid_holder .itemHolder {
        width: 49%;
    }
    .selectoid_holder .itemHolder .item .secondary {
        display: none;
    }
}
/* 2 columns + secondary data */
@media all and (max-width: 801px) and (min-width: 702px) {
    .selectoid_holder {
        width: 62%;
    }
    .selectoid_holder .itemHolder {
        width: 49%;
    }
    .selectoid_holder .itemHolder .item .secondary {
        display: block;
    }
}
/* 3 columns */
@media all and (max-width: 960px) and (min-width: 802px) {
    .selectoid_holder {
        width: 71%;
    }
    .selectoid_holder .itemHolder {
        width: 33%;
    }
    .selectoid_holder .itemHolder .item .secondary {
        display: none;
    }
}
/* 3 columns + secondary data */
@media all and (max-width: 1120px) and (min-width: 961px) {
    .selectoid_holder {
        width: 85%;
    }
    .selectoid_holder .itemHolder {
        width: 33%;
    }
    .selectoid_holder .itemHolder .item .secondary {
        display: block;
    }
}
/* Full width - 1120px */
@media all and (min-width: 1121px) {
    .selectoid_holder {
        width: 100%;
    }
    .selectoid_holder .itemHolder {
        width: 33%;
    }
    .selectoid_holder .itemHolder .item .secondary {
        display: block;
    }
}